PROJETO AR CONDICIONADO/node-red/flow.json
[{"id":"ec800c47.8bd31","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5b7de71c.26cb68","type":"mqtt in","z":"ec800c47.8bd31","name":"","topic":"topic","qos":"2","broker":"a55c3295.9228e","x":78,"y":220,"wires":[["4cb0bf30.74f3e"]]},{"id":"4a56e5df.2eac5c","type":"debug","z":"ec800c47.8bd31","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":654,"y":173,"wires":[]},{"id":"4cb0bf30.74f3e","type":"json","z":"ec800c47.8bd31","name":"Convert","property":"payload","action":"","pretty":false,"x":206,"y":160,"wires":[["9ac36f5b.bce19","c7c1f0c9.2dcfc","76effab.b438904","8d6552a.b175eb"]]},{"id":"62b3b961.2d23c8","type":"mysql","z":"ec800c47.8bd31","mydb":"208a964.0faa76a","name":"","x":515.5,"y":134,"wires":[["4a56e5df.2eac5c"]]},{"id":"9ac36f5b.bce19","type":"function","z":"ec800c47.8bd31","name":"query","func":"var data = new Date();\nvar mes = data.getMonth()+1;\nmes = (mes < 10) ? '0' + mes.toString() : mes.toString();\nvar dia = data.getDate();\ndia = (dia < 10) ? '0' + dia.toString() : dia.toString();\nvar hora = data.getHours();\nhora = (hora < 10) ? '0' + hora.toString() : hora.toString();\nvar min = data.getMinutes();\nmin = (min < 10) ? '0' + min.toString() : min.toString();\nvar sec = data.getSeconds();\nsec = (sec < 10) ? '0' + sec.toString() : sec.toString();\n\nvar timestamp = \"\"+data.getFullYear()+mes+dia+hora+min+sec;\n\n\nmsg.topic  = \"INSERT INTO projetoai.sensor VALUES (\"+timestamp+\",\"+msg.payload.temperature+\",\"+msg.payload.humidity+\")\";\n\nreturn msg;","outputs":1,"noerr":0,"x":365.5,"y":110,"wires":[["62b3b961.2d23c8"]]},{"id":"76effab.b438904","type":"ui_gauge","z":"ec800c47.8bd31","name":"","group":"f4c077eb.9cf618","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"Cº","format":"{{msg.payload.temperature}}","min":"-50","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":381,"y":257,"wires":[]},{"id":"8d6552a.b175eb","type":"ui_gauge","z":"ec800c47.8bd31","name":"","group":"f4c077eb.9cf618","order":0,"width":0,"height":0,"gtype":"gage","title":"Umidade","label":"%","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":328,"wires":[]},{"id":"c7c1f0c9.2dcfc","type":"debug","z":"ec800c47.8bd31","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":397,"y":203,"wires":[]},{"id":"ad4cace.1fd115","type":"debug","z":"ec800c47.8bd31","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":363,"y":416,"wires":[]},{"id":"6e76a97c.804be8","type":"mosca in","z":"ec800c47.8bd31","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":135,"y":416,"wires":[["ad4cace.1fd115"]]},{"id":"4b7010dc.e0cfc","type":"mqtt in","z":"ec800c47.8bd31","name":"","topic":"topic","qos":"2","broker":"a55c3295.9228e","x":122,"y":57,"wires":[["cb1906ca.7de9c8"]]},{"id":"cb1906ca.7de9c8","type":"debug","z":"ec800c47.8bd31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":57,"wires":[]},{"id":"a55c3295.9228e","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"208a964.0faa76a","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"projetoai","tz":""},{"id":"f4c077eb.9cf618","type":"ui_group","z":"","name":"Sensor de Umidade e Temperatura","tab":"54752262.86104c","disp":false,"width":"6","collapse":false},{"id":"54752262.86104c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]